menu: [
  {
    label: 'Packages'
    submenu: [
      label: 'Atom Notes'
      submenu: [
        {
          label: 'Toggle'
          command: 'atom-notes:toggle'
        },
        {
          label: 'Toggle Preview'
          command: 'atom-notes:toggle-preview'
        },
        {
          label: 'Open Interlink'
          command: 'atom-notes:interlink'
        }
      ]
    ]
  }
]
